body {
  padding-bottom: 40px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
@media (max-width: 587px) {
  img {
    display: none;
  }
  .project-button {
    display: block;
    margin: 0 auto;
  }
  .project-title {
    text-align: center;
    font-size: 20px;
  }
  .hero {
    padding: 120px 5px;
  }
  .name {
    font-size: 60px;
  }
}
.name {
  text-align: center;
  font-size: 150px;
  padding-bottom: 15px;
  padding-top: 50px;
}
.hero {
  background-color: rgb(255, 245, 247);
  padding: 120px 20px;
}
.sub-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.project-title {
  font-size: 45px;
}
.project-body {
  font-size: 20px;
}
.project-button:hover {
  background-color: rgb(237, 178, 190);
  color: white;
}
.project-button {
  padding: 10px 25px;
  border: 2px solid;
  background-color: white;
  color: rgb(237, 178, 190);
  border-color: rgb(237, 178, 190);
}
.main-button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px 50px;
  max-width: 500px;
  border-radius: 5px;
  background-color: black;
  color: rgb(255, 245, 247);
  border: none;
}
