.name {
  text-align: center;
  font-size: 150px;
  padding-bottom: 15px;
  padding-top: 50px;
}
.hero {
  background-color: rgb(255, 245, 247);
  padding: 120px 20px;
}
.sub-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.main-button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px 50px;
  max-width: 500px;
  border-radius: 5px;
  background-color: black;
  color: rgb(255, 245, 247);
  border-color: black;
}
