:root {
  --primary-color: rgb(255, 245, 247);
  --secondary-color: rgb(237, 178, 190);
}

.center {
  text-align: center;
}

body {
  padding-bottom: 40px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.name {
  text-align: center;
  font-size: 150px;
  padding-bottom: 15px;
  padding-top: 50px;
}

.hero {
  background-color: var(--primary-color);
  padding: 120px 20px;
  max-width: 100%;
}
.sub-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.project-title {
  font-size: 45px;
}
.project-body {
  font-size: 20px;
}
.project-button:hover {
  background-color: var(--secondary-color);
  color: white;
}
.project-button {
  padding: 10px 25px;
  border: 2px solid;
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.main-button {
  max-width: 500px;
  border-radius: 5px;
}
.button-one {
  padding: 20px 50px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background-color: black;
  color: var(--primary-color);
  border: none;
}
.button-two:hover {
  background-color: white;
  color: var(--secondary-color);
}
.button-two {
  padding: 12px 40px;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
  border: 2px solid;
}

.content {
  padding-top: 80px;
}
.about-title {
  padding-top: 120px;
  font-size: 58px;
  padding-bottom: 15px;
}
.about-sub-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 15px;
}
.about-content {
  font-size: 18px;
  padding-bottom: 15px;
}
.contact-heading {
  font-size: 65px;
}
.sub-head {
  font-size: 25px;
}
.work {
  padding-bottom: 10px;
}
.info-title {
  color: gray;
  font-size: 16px;
}

@media (max-width: 570px) {
  .home {
    display: none;
  }
  .project-button {
    display: block;
    margin: 0 auto;
  }
  .project-title {
    text-align: center;
    font-size: 20px;
  }
  .hero {
    padding: 120px 5px;
  }
  .name {
    font-size: 80px;
  }
  .sub-title {
    font-size: 25px;
    padding-bottom: 30px;
  }
}
@media (max-width: 973px) {
  .about-title {
    padding-top: 20px;
    text-align: center;
  }
  .about-image {
    padding-top: 40px;
  }
  .project {
    padding-bottom: 25px;
  }
}
